<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.lgx.dao.EmployeeMapper">
    <insert id="addEmployee">
        insert into employee(pid, state, uid, createTime, name, sex, age, tid) VALUES
        (#{pid},#{state},#{uid},#{createTime},#{name},#{sex},#{age},#{tid})
    </insert>
    <update id="updateEmployeeState">
        update employee set state=0,explain=#{explain} where id =#{id}
    </update>
    <update id="updateEmployeePid">
        update employee set pid=#{pid} where id=#{id}
    </update>
    <update id="updateEmployeeTid">
        UPDATE  employee set tid=#{tid} where id=#{id}
    </update>
    <select id="selectEmployeeByUid" resultType="com.lgx.model.Employee">
        select * from employee where uid =#{1}
    </select>
    <select id="selectEmployeeByPid" resultType="com.lgx.model.Employee">
        select * from employee where pid=#{1}
    </select>
</mapper>