<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.lgx.dao.RecruitMapper">
    <insert id="addRecruit">
      insert into recruit(pid, requirement, salaryRange, address, state, createTime, introduction) VALUES
      (#{pid},#{requirement},#{salaryRange},#{address},#{state},#{createTime},#{introduction})
    </insert>
    <update id="updateRecruit">
        update recruit set state=#{state} where id=#{id}
    </update>
    <select id="selectRecruit" resultType="com.lgx.model.Recruit">
        select * from recruit;
    </select>
</mapper>