<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.lgx.dao.ResumeMapper">
    <insert id="addResume">
        insert into resume(uid, major, school, education, address, experience, skill, evaluate, createTime, state, degree, name, sex, phone, email, age) VALUES
        (#{uid},#{major},#{school},#{education},#{address},#{experience},#{skill},#{evaluate},#{createTime},#{state},#{degree},#{name},#{sex},#{phone},#{email},#{age})
    </insert>
    <update id="updateResume">
        update resume SET major=#{major},school=#{school},education=#{education},address=#{address},experience=#{experience},skill=#{skill},evaluate=#{evaluate},degree=#{degree},name=#{name},sex=#{sex},phone=#{phone},email=#{email},age=#{age};
    </update>
    <update id="updateResumeState">
        update resume set state=#{state},rid=#{rid}
    </update>
    <update id="updateResumeState2">
        update resume set state=#{state},interview=#{interview}
    </update>

    <select id="selectResume"  resultType="com.lgx.model.Resume">
        select * from resume where uid=#{uid}
    </select>
    <select id="selectResumeByState" resultType="com.lgx.model.Resume">
        select * from resume where state=#{0} or state =#{1}
    </select>
</mapper>